# Compiler files
cache/
out/**/
!out/DefaultStakerRewardsFactory.sol/
!out/DefaultStakerRewards.sol/
!out/DefaultOperatorRewardsFactory.sol/
!out/DefaultOperatorRewards.sol/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/11155111/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Other files
.gas-snapshot
lcov.info

node_modules
package-lock.json